
@{
    ViewData["Title"] = "AddApplicant";
    Layout = "_AdminViewLayout";
    var edit = new Applicant();
    bool editStatus = false;
    if(ViewData["editData"] != null)
    {
        edit = ViewData["editData"] as HRIS.Models.Applicant;
        editStatus = true;
    }
}

<div class="container">
    <div id="new-wmp-title">
        @if (editStatus) { 
            <p>Edit Applicant</p>
        }
        else
        {
            <p>Add New Applicant</p>
        }
    </div>
    <div>
        <form action="javascript: uploadPhoto()" enctype="multipart/form-data">
            <div id="img-preview">
                <img id="img-prev-thumb" style="display:none" />
            </div>
            <label for="_Photo">Photo</label>
            <input type="file" id="_Photo" name="_Photo" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
            <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" type="submit">Upload</button>
        </form>
        <form action="javascript: uploadCV()" enctype="multipart/form-data">
            <label for="_CV">CV</label>
            <input type="file" id="_CV" name="_CV" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
            <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" type="submit">Upload</button>
        </form>
        <form id="input-form" class="w-full max-w-lg" action="javascript: submit()">
            @if (editStatus)
            {
                <input id="Id" name="Id" value="@edit.Id" hidden />
                <label for="NIK">Applicant Id</label>
                <input value="@edit.NIK" required type="text" id="NIK" name="NIK" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="FullName">Full Name</label>
                <input value="@edit.FullName" required type="text" id="FullName" name="FullName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Religion">Religion</label>
                <input value="@edit.Religion" required type="text" id="Religion" name="Religion" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="DOB">Date of Birth</label>
                <input value="@edit.DOB.ToString("yyyy-MM-dd")" required type="date" id="DOB" name="DOB" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Gender">Gender</label><br />
                <select id="Gender" name="Gender" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <option>Select Gender</option>
                    @if (edit.Gender == "male")
                    {
                        <option value="male" selected>Male</option>
                    }
                    @if (edit.Gender == "female")
                    {
                        <option value="female" selected>Female</option>
                    }
                    else
                    {
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    }
                </select>
                <label for="Phone">Phone</label>
                <input value="@edit.Phone" required type="text" id="Phone" name="Phone" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Email">Email</label>
                <input value="@edit.Email" required type="text" id="Email" name="Email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Country">Country</label>
                <input value="@edit.Address.Country" required type="text" id="Country" name="Country" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Province">Province</label>
                <input value="@edit.Address.Province" required type="text" id="Province" name="Province" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="City">City</label>
                <input value="@edit.Address.City" required type="text" id="City" name="City" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Distric">Distric</label>
                <input value="@edit.Address.Distric" required type="text" id="Distric" name="Distric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDistric">SubDistric</label>
                <input value="@edit.Address.SubDistric" required type="text" id="SubDistric" name="SubDistric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Street">Street</label>
                <input value="@edit.Address.Street" required type="text" id="Street" name="Street" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Status">Applicant Status</label>
                <br />
                <select id="Status" name="Status" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <option value="1">(1)Unprocessed</option>
                    <option value="2">(2)Sc. Psychotest</option>
                    <option value="3">(3)Sc. Interview</option>
                </select>
                <br />

                <label for="JoinDate">Apply Date</label>
                <input value="@edit.JoinDate.ToString("yyyy-MM-dd")" required type="date" id="JoinDate" name="JoinDate" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="RoleName">Position</label>
                <input value="@edit.Role.Name" required type="text" id="RoleName" name="RoleName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Division">Division</label>
                <input value="@edit.Role.Division" required type="text" id="Division" name="Division" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDivision">SubDivision</label>
                <input value="@edit.Role.SubDivision" required type="text" id="SubDivision" name="SubDivision" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Level">Level</label>
                <input @edit.Role.Level required type="text" id="Level" name="Level" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Description">Description</label>
                <input value="@edit.Role.Description" type="text" id="Description" name="Description" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <input type="text" id="Photo" name="Photo" hidden value="@edit.Phone" />
                <input type="text" id="CV" name="CV" hidden value="@edit.CV" />
                <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" type="button" onclick="javascript: SetEmployee()">Set as new employee</button>
            }
            else
            {
                <label for="NIK">Applicant Id</label>
                <input required type="text" id="NIK" name="NIK" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="FullName">Full Name</label>
                <input required type="text" id="FullName" name="FullName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Religion">Religion</label>
                <input required type="text" id="Religion" name="Religion" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="DOB">Date of Birth</label>
                <input required type="date" id="DOB" name="DOB" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <select id="Gender" name="Gender" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <option>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select><br />
                <label for="Phone">Phone</label>
                <input required type="text" id="Phone" name="Phone" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Email">Email</label>
                <input required type="text" id="Email" name="Email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Country">Country</label>
                <input required type="text" id="Country" name="Country" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Province">Province</label>
                <input required type="text" id="Province" name="Province" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="City">City</label>
                <input required type="text" id="City" name="City" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Distric">Distric</label>
                <input required type="text" id="Distric" name="Distric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDistric">SubDistric</label>
                <input required type="text" id="SubDistric" name="SubDistric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Street">Street</label>
                <input required type="text" id="Street" name="Street" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Status">Applicant Status</label>
                <br />
                <select id="Status" name="Status" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <option value="1">(1)Unprocessed</option>
                    <option value="2">(2)Sc. Psychotest</option>
                    <option value="3">(3)Sc. Interview</option>
                </select>
                <br />

                <label for="JoinDate">Apply Date</label>
                <input required type="date" id="JoinDate" name="JoinDate" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="RoleName">Position</label>
                <input required type="text" id="RoleName" name="RoleName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Division">Division</label>
                <input required type="text" id="Division" name="Division" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDivision">SubDivision</label>
                <input required type="text" id="SubDivision" name="SubDivision" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Level">Level</label>
                <input required type="text" id="Level" name="Level" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Description">Description</label>
                <input type="text" id="Description" name="Description" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <input type="text" id="Photo" name="Photo" hidden value="" />
                <input type="text" id="CV" name="CV" hidden value="" />
            }

            <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" type="submit">Submit</button>
        </form>

    </div>

</div>

@section Scripts
{
<script type="text/javascript">

    var photoUrl = '';

    function submit() {
        var rawData = $('#input-form').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        console.log(rawData);

        var dataToSend = {
            Id: rawData.Id,
            NIK: rawData.NIK,
            FullName: rawData.FullName,
            DOB: rawData.DOB,
            Religion: rawData.Religion,
            JoinDate: rawData.JoinDate,
            Phone: rawData.Phone,
            Photo: rawData.Photo,
            Email: rawData.Email,
            CV: rawData.CV,
            Gender: rawData.Gender,
            Address: {
                Country: rawData.Country,
                Province: rawData.Province,
                City: rawData.City,
                Distric: rawData.Distric,
                SubDistric: rawData.SubDistric,
                Street:rawData.Street
            },
            Role: {
                Status: rawData.Status,
                Name: rawData.RoleName,
                Division: rawData.Division,
                SubDivision: rawData.SubDivision,
                Level: rawData.Level,
                Description: rawData.Description
            }
        }

        console.log(JSON.stringify(dataToSend));
        console.log('@editStatus');

        var url = 'submit';

        if ('@editStatus' == 'True') {
            url = 'https://localhost:5001/applicant/update';
            console.log("update...");
        }

       $.ajax({
            url: url,
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),

            success: function (data) {
                console.log(data);

                window.location.href = 'https://localhost:5001/applicant/show';
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            }
        });
    }

    function SetEmployee() {
        var rawData = $('#input-form').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        console.log(rawData);

        var dataToSend = {
            Id: rawData.Id,
            NIK: rawData.NIK,
            FullName: rawData.FullName,
            DOB: rawData.DOB,
            Religion: rawData.Religion,
            JoinDate: rawData.JoinDate,
            Phone: rawData.Phone,
            Photo: rawData.Photo,
            Email: rawData.Email,
            CV: rawData.CV,
            Address: {
                Country: rawData.Country,
                Province: rawData.Province,
                City: rawData.City,
                Distric: rawData.Distric,
                SubDistric: rawData.SubDistric,
                Street:rawData.Street
            },
            Role: {
                Status: rawData.Status,
                Name: rawData.RoleName,
                Division: rawData.Division,
                SubDivision: rawData.SubDivision,
                Level: rawData.Level,
                Description: rawData.Description
            }
        }

        console.log(JSON.stringify(dataToSend));
        console.log('@editStatus');

        url = 'https://localhost:5001/applicant/SetAsEmployee';
        console.log("set as employee");

       $.ajax({
            url: url,
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),

            success: function (data) {
                console.log(data);
                
                window.location.href = 'https://localhost:5001/employee/edit/'+data.id;
            },

            error: function (xhr, desc, err) {
                console.log(xhr);
                console.log("Details0: " + desc + "\nError:" + err);
            }
        });
    }


    function uploadPhoto() {
        var fd = new FormData();
        var files = $('#_Photo')[0].files[0];
        fd.append('file', files);

        $.ajax({
            url: 'https://localhost:5001/applicant/uploadPhoto',
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
            success: function(response){
                if(response != 0){
                    console.log(response);

                    $('#Photo').val(response);
                    photoUrl = response.responseText;

                }else{
                    alert('file not uploaded');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function uploadCV() {
        var fd = new FormData();
        var files = $('#_CV')[0].files[0];
        fd.append('file', files);

        $.ajax({
            url: 'https://localhost:5001/applicant/uploadCV',
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
            success: function(response){
                if(response != 0){
                    console.log(response);

                    $('#CV').val(response);
                    photoUrl = response.responseText;

                }else{
                    alert('file not uploaded');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function showPhoto() {
        var reader = new FileReader();
        $('#img-prev-thumb').show();
        reader.onload = function (e) {
            $('#img-prev-thumb').attr('src', e.target.result)
                .width(200).height(200);
        };

        
        reader.readAsDataURL($('#_Photo').files[0]);
    }
</script>
}