
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "_AdminViewLayout";
    var edit = new Employee();
    bool editStatus = false;
    if(ViewData["editData"] != null)
    {
        edit = ViewData["editData"] as HRIS.Models.Employee;
        editStatus = true;
    }
}

<div class="container">
    <div id="new-wmp-title">
        @if (editStatus) { 
            <p>Edit Employee</p>
        }
        else
        {
            <p>Add New Employee</p>
        }
    </div>
    <div>
        <form id="input-form" class="w-full max-w-lg" asp-action="Submit" asp-controller="Employee" method="post" enctype="multipart/form-data">
            @if (editStatus)
            {
                <input name="edit" value="1" hidden />

                <label for="_Photo">Photo</label>
                <input required onchange="showPhoto(this)" type="file" id="_Photo" name="file" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <img class="h-20 w-20" id="thumb-photo" src="~/@edit.Photo" alt="your image" />

                <br /><br />
                <input id="Id" name="Id" value="@edit.Id" hidden />
                <label for="NIK">Emp. Id</label>
                <input value="@edit.NIK" required type="text" id="NIK" name="NIK" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="FullName">Full Name</label>
                <input value="@edit.FullName" required type="text" id="FullName" name="FullName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Religion">Religion</label>
                <input value="@edit.Religion" required type="text" id="Religion" name="Religion" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="DOB">Date of Birth</label>
                <input value="@edit.DOB.ToString("yyyy-MM-dd")" required type="date" id="DOB" name="DOB" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Gender">Gender</label><br />
                <select id="Gender" name="Gender" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <option>Select Gender</option>
                    @if (edit.Gender == "male")
                    {
                        <option value="male" selected>Male</option>
                    }
                    @if (edit.Gender == "female")
                    {
                        <option value="female" selected>Female</option>
                    }
                    else
                    {
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    }
                </select><br />
                <label for="Phone">Phone</label>
                <input value="@edit.Phone" required type="text" id="Phone" name="Phone" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Email">Email</label>
                <input value="@edit.Email" required type="text" id="Email" name="Email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Country">Country</label>
                <input value="@edit.Address.Country" required type="text" id="Country" name="Country" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Province">Province</label>
                <input value="@edit.Address.Province" required type="text" id="Province" name="Province" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="City">City</label>
                <input value="@edit.Address.City" required type="text" id="City" name="City" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Distric">Distric</label>
                <input value="@edit.Address.Distric" required type="text" id="Distric" name="Distric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDistric">SubDistric</label>
                <input value="@edit.Address.SubDistric" required type="text" id="SubDistric" name="SubDistric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Street">Street</label>
                <input value="@edit.Address.Street" required type="text" id="Street" name="Street" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Status">Emp. Status</label><br />
                <select id="Status" name="Status" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    @if (edit.Role.Status == 1)
                    {
                        <option value="1" selected>(1)Permanent</option>
                        <option value="2">(2)Contract</option>
                        <option value="3">(3)Probation</option>
                        <option value="4">(3)Retired</option>
                        <option value="5">(3)Resign</option>

                    }
                    else if (edit.Role.Status == 2)
                    {
                        <option value="1">(1)Permanent</option>
                        <option value="2" selected>(2)Contract</option>
                        <option value="3">(3)Probation</option>
                        <option value="4">(4)Retired</option>
                        <option value="5">(5)Resign</option>
                    }
                    else if (edit.Role.Status == 3)
                    {
                        <option value="1">(1)Permanent</option>
                        <option value="2">(2)Contract</option>
                        <option value="3" selected>(3)Probation</option>
                        <option value="4">(4)Retired</option>
                        <option value="5">(5)Resign</option>
                    }
                    else if (edit.Role.Status == 4)
                    {
                        <option value="1">(1)Permanent</option>
                        <option value="2">(2)Contract</option>
                        <option value="3">(3)Probation</option>
                        <option value="4" selected>(4)Retired</option>
                        <option value="5">(5)Resign</option>
                    }
                    else if (edit.Role.Status == 5)
                    {
                        <option value="1">(1)Permanent</option>
                        <option value="2">(2)Contract</option>
                        <option value="3">(3)Probation</option>
                        <option value="4">(4)Retired</option>
                        <option value="5" selected>(5)Resign</option>
                    }
                    else
                    {
                        <option value="1">(1)Permanent</option>
                        <option value="2">(2)Contract</option>
                        <option value="3">(3)Probation</option>
                        <option value="3">(4)Retired</option>
                        <option value="3">(5)Resign</option>
                    }
                </select><br />

                <label for="JoinDate">Join Date</label>
                <input value="@edit.JoinDate.ToString("yyyy-MM-dd")" required type="date" id="JoinDate" name="JoinDate" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="RoleName">Position</label>
                <input value="@edit.Role.Name" required type="text" id="RoleName" name="Name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Division">Division</label>
                <input value="@edit.Role.Division" required type="text" id="Division" name="Division" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDivision">SubDivision</label>
                <input value="@edit.Role.SubDivision" required type="text" id="SubDivision" name="SubDivision" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Level">Level</label>
                <input @edit.Role.Level required type="text" id="Level" name="Level" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Description">Description</label>
                <input value="@edit.Role.Description" type="text" id="Description" name="Description" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <input type="text" id="Photo" name="Photo" hidden value="@edit.Photo" />
            }
            else
            {
                <input name="edit" value="1" hidden />

                <label for="_Photo">Photo</label>
                <input required onchange="showPhoto(this)" type="file" id="_Photo" name="file" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <img class="h-20 w-20" id="thumb-photo" src="#" alt="your image" hidden />
                <br /><br />
                <label for="NIK">Emp. Id</label>
                <input required type="text" id="NIK" name="NIK" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="FullName">Full Name</label>
                <input required type="text" id="FullName" name="FullName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Religion">Religion</label>
                <input required type="text" id="Religion" name="Religion" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="DOB">Date of Birth</label>
                <input required type="date" id="DOB" name="DOB" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <select id="Gender" name="Gender" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <option>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select><br />
                <label for="Phone">Phone</label>
                <input required type="text" id="Phone" name="Phone" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Email">Email</label>
                <input required type="text" id="Email" name="Email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Country">Country</label>
                <input required type="text" id="Country" name="Country" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Province">Province</label>
                <input required type="text" id="Province" name="Province" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="City">City</label>
                <input required type="text" id="City" name="City" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Distric">Distric</label>
                <input required type="text" id="Distric" name="Distric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDistric">SubDistric</label>
                <input required type="text" id="SubDistric" name="SubDistric" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Street">Street</label>
                <input required type="text" id="Street" name="Street" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />

                <label for="Status">Emp. Status</label><br />
                <select id="Status" name="Status" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <option value="1">(1)Permanent</option>
                    <option value="2">(2)Contract</option>
                    <option value="3">(3)Probation</option>
                    <option value="4">(4)Retired</option>
                    <option value="5">(5)Resign</option>
                </select><br />

                <label for="JoinDate">Join Date</label>
                <input required type="date" id="JoinDate" name="JoinDate" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="RoleName">Position</label>
                <input required type="text" id="RoleName" name="Name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Division">Division</label>
                <input required type="text" id="Division" name="Division" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="SubDivision">SubDivision</label>
                <input required type="text" id="SubDivision" name="SubDivision" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Level">Level</label>
                <input required type="text" id="Level" name="Level" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <label for="Description">Description</label>
                <input type="text" id="Description" name="Description" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
                <input type="text" id="Photo" name="Photo" hidden value="" />

            }


            <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" type="submit">Submit</button>
        </form>
    </div>

</div>

@section Scripts
{
<script type="text/javascript">

    var photoUrl = '';

    function submit() {
        var rawData = $('#input-form').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        console.log(rawData);

        var dataToSend = {
            Id: rawData.Id,
            NIK: rawData.NIK,
            FullName: rawData.FullName,
            DOB: rawData.DOB,
            Religion: rawData.Religion,
            JoinDate: rawData.JoinDate,
            Phone: rawData.Phone,
            Photo: rawData._Photo,
            Address: {
                Country: rawData.Country,
                Province: rawData.Province,
                City: rawData.City,
                Distric: rawData.Distric,
                SubDistric: rawData.SubDistric,
                Street:rawData.Street
            },
            Role: {
                Status: rawData.Status,
                Name: rawData.RoleName,
                Division: rawData.Division,
                SubDivision: rawData.SubDivision,
                Level: rawData.Level,
                Description: rawData.Description
            }
        }

        console.log(JSON.stringify(dataToSend));
        var url = 'submit';

        if ('@editStatus' == 'True') {
            url = 'https://localhost:5001/employee/update';
        }
        else
            url = 'submit';

       $.ajax({
            url: url,
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),

            success: function (data) {
                console.log(data);

                window.location.href = 'https://localhost:5001/employee/show';
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            }
        });
    }


    function uploadPhoto() {
        var fd = new FormData();
        var files = $('#_Photo')[0].files[0];
        fd.append('file', files);

        $.ajax({
            url: 'https://localhost:5001/employee/uploadPhoto',
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
            success: function(response){
                if(response != 0){
                    console.log(response);

                    $('#Photo').val(response);
                    photoUrl = response.responseText;

                }else{
                    alert('file not uploaded');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function Coba() {
        var rawData = $('#input-form').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});


        var dataToSend = {
            Id: rawData.Id,
            NIK: rawData.NIK,
            FullName: rawData.FullName,
            DOB: rawData.DOB,
            Religion: rawData.Religion,
            JoinDate: rawData.JoinDate,
            Phone: rawData.Phone,
            Address: {
                Country: rawData.Country,
                Province: rawData.Province,
                City: rawData.City,
                Distric: rawData.Distric,
                SubDistric: rawData.SubDistric,
                Street:rawData.Street
            },
            Role: {
                Status: rawData.Status,
                Name: rawData.RoleName,
                Division: rawData.Division,
                SubDivision: rawData.SubDivision,
                Level: rawData.Level,
                Description: rawData.Description
            }
        }

        var fd = new FormData();
        var files = $('#_Photo')[0].files[0];
        fd.append('files', files);
        fd.append('emp', JSON.stringify(dataToSend));

        console.log(fd);

        $.ajax({
            url: 'https://localhost:5001/employee/submit',
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
            success: function(response){
                if(response != 0){
                    console.log(response);

                }else{
                    alert('file not uploaded');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function showPhoto(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#thumb-photo')
                    .removeAttr('hidden')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
}