@model HRIS.Models.IndexViewModel

@{
    ViewData["Title"] = "Show";
    Layout = "_AdminViewLayout";
    //var emps = ViewData["employees"] as List<HRIS.Models.Employee>;
    var emps = ViewData["employees"] as IndexViewModel;
    var filter = ViewData["filters"];
}


<div class="my-50">
    <div id="emp-toolbar" class="my-3">
        <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" onclick="javascript: DownloadDisplayed()">Export Displayed</button>
        <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" onclick="javascript: Download()">Export All</button>
        <div>
            <form asp-action="Import" asp-controller="EmployeeIO" enctype="multipart/form-data">
                <input type="file" name="files" class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" placeholder="Import" />
                <button type="submit" class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded">Import</button>
                <button type="button" class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" onclick="javascript: DownloadTemplate()">Download Template</button>
            </form>
        </div>
        <button onclick="javascript: window.location.href = '/Employee/Add'" class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded">Add Employee</button>
    </div>
</div>

<br />
Employee Status
<select id="status-sel">
    <option value="1">Permanent</option>
    <option value="2">Contract</option>
    <option value="3">Probation</option>
</select>
<button onclick="javascript: displayByStatus()" class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded">Set</button>

<div>
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2">No</th>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Position</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach(var e in emps.Items)
            {
                <tr>
                    <td class="border px-4 py-2">@i</td>
                    <td class="border px-4 py-2">
                        <div class="h-10 w-10">
                            <img src="~/@e.Photo" />
                        </div>
                        <div>
                            @e.FullName
                        </div>
                    </td>
                    <td class="border px-4 py-2">@e.Role.Name</td>
                    <td class="border px-4 py-2">
                        <button class="btn">Message</button>
                        <button id="u-@e.Id" class="btn" onclick="javascript: Update(this)">Update</button>
                        <button class="btn">Options</button>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<div class="pagination-div">
    <div name="page-list-count">
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/employee/show?&perpage=@ViewBag.perPage&filter=@ViewBag.filter&order=@ViewBag.order">First</a>
                    </li>
                    <li>
                        <a href="~/employee/show?page=@(Model.Pager.CurrentPage-1)&perpage=@ViewBag.perPage&filter=@ViewBag.filter&order=@ViewBag.order">Previous</a>
                    </li>
                }

                @for (var p = Model.Pager.StartPage; p <= Model.Pager.EndPage; p++)
                {
                    <li class="@(p==Model.Pager.CurrentPage ? "active" :"")">
                        <a href="~/employee/show?page=@p&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">@p</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/employee/show?page=@(Model.Pager.CurrentPage + 1)&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">Next</a>
                    </li>
                    <li>
                        <a href="~/employee/show?page=@(Model.Pager.TotalPages)&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
    <div name="per-page-set" style="margin: auto">
        <input id="item-per-page" type="text" placeholder="..." name="filter" value="@ViewBag.perPage" style="width: 50px; height: 30px">
        <input id="page-set-btn" type="button" class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" onclick="javascript: setItemPerPage(this)" value="Set Page" />
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function Update(ID) {
            var id = ID.id.substring(2, ID.id.length);

            window.location.href = 'https://localhost:5001/employee/edit/' + id;
        }

        function Download(url='https://localhost:5001/Employee/GenereateAllEmployee') {
           fetch(url)
          .then(resp => resp.blob())
          .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            // the filename you want
            a.download = 'download.csv';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            alert('your file has downloaded!'); // or you know, something with better UX...
          })
          .catch(() => alert('oh no!'));
        }

        function DownloadDisplayed() {
            var filter = 'page=@(Model.Pager.CurrentPage)&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage';
            var url = 'https://localhost:5001/employeeIO/partialDownload?' + filter;
            console.log(url);
            Download(url);
        }

        function DownloadTemplate() {
            Download('https://localhost:5001/employeeIO/downloadTemplate');
        }

        function displayByStatus() {
            var status = $('#status-sel').val();

            var url = 'https://localhost:5001/employee/show?status=' + status;

            window.location.href = url;
        }

        function setItemPerPage()
    {
        var order = '@ViewBag.order';
        var filter = '@ViewBag.filter';
        var perPage = document.getElementById("item-per-page").value;
        url = "https://localhost:5001/Employee/show?perpage=";
        url += perPage + "&filter=" + filter + "&order=" + order;
        window.location.href = url;
    }

    </script>
}
